# /etc/systemd/system/gate.service
[Unit]
Description=Gate
ConditionPathExists=/root/artchitect/gate/bin/
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/root/artchitect/gate
ExecStart=/root/artchitect/gate/bin/gate
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gate

[Install]
WantedBy=multi-user.target
